#sec-1 .navbar-brand{
  color: #1E30F3;
}  
footer p , a{
  font-size: 12px;
}
.img-frame{
  width: 300px;
  height: 400px;
}
.img-frame img{
  border-radius: 25px;
}
.my-card{
  padding: 0 !important;
  box-shadow:  rgba(0, 0, 0, 0.19) 0 0 10px;
  border-radius: 25px;
  
}
#bg-gradient{
  background-image: linear-gradient(to right,#292FEC ,#D71F86) ;
  height: 200px;
  color: white;
}
#bg-gradient button{
  color: white !important;
  border: 1px solid white;
}